* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
}

.first-sec {
    text-align: center;
    color: white;
    margin-bottom: 150px;


}

.top-banner {
    background-image: url(./images/donation1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 950px;
}

#first-text {
    font-size: 120px;

}

.first-taitle {
    font-size: 70px;
    padding-top: 250px;
    margin-bottom: 50px;
    text-align: center;

}

.first-pera {
    font-size: 25px;
    margin-bottom: 50px;
    text-align: center;

}

.btn {
    font-size: 40px;
    padding: 10px 40px;
    text-decoration: none;
    background-color: orangered;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    text-align: center;

}

.second-taitle {
    font-size: 80px;
    text-align: center;
    margin-bottom: 50px;

}

.second-sec {
    margin-bottom: 50px;
}

.third-sec {
    margin-bottom: 100px;
    display: flex;
    margin-left: 560px;

}

.card01 {
    border: 1px solid gainsboro;
    text-align: center;
    border-radius: 10px;
    height: 50px;
    opacity: .6;
    width: 120px;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 12px;

}

.card01:hover {
    box-shadow: 10px 10px 20px gray;
    border: 5px solid tomato;
    color: tomato;
}

.forth-sec {
    text-align: center;
    margin-bottom: 150px;

}

.forth-text {
    margin-bottom: 40px;
}

.forth-text input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 750px;
    font-size: 30px;
    padding-left: 20px;
    text-align: center;
}

.five-sec {
    margin-bottom: 40px;
}

.six-sec {
    display: flex;
    margin-bottom: 100px;
    margin-left: 150px;
}

.card img {
    padding-top: 40px;
    padding-bottom: 20px;
}

.card {
    height: 400px;
    width: 400px;
    border: 0px solid lightblue;
    border-radius: 10px;
    background-color: lightblue;
    padding-top: 30px;
    padding: 15px;
    font-size: 25px;
    margin: 20px;
}

.card:hover {
    box-shadow: 10px 10px 20px gray;
}

.card-taitle {
    margin-bottom: 20px;
}

#card-two {
    background-color: lightpink;
}

#card-three {
    background-color: lightgoldenrodyellow;
}

.seven-sec {
    display: flex;
    margin-bottom: 150px;

}

.seven-sec-taitle {
    margin-left: 150px;
}

.seven-taitle {
    font-size: 70px;
    margin-bottom: 40px;
}

.seven-pera {
    font-size: 30px;
    margin-bottom: 40px;
}

.donation-one img {
    border-radius: 10px;
    margin-left: 120px;
    height: 550px;
    width: 500px;
}

.eight-sec {
    display: flex;
    margin-bottom: 150px;
}

.donation-two img {
    width: 550px;
    height: 500px;
    border-radius: 10px;
    margin-left: 150px;
}

.eight-sec-text {
    margin-left: 150px;

}

.eight-taitle {
    font-size: 70px;
    margin-bottom: 40px;
}

.eight-pera {
    font-size: 30px;
    margin-bottom: 40px;
}

.nine-sec {
    margin-bottom: 40px;

}

.background-sec {
    border: 1px solid lightgoldenrodyellow;
    border-radius: 10px;
    height: 250px;
    width: 800px;
    background-color: lightgoldenrodyellow;
    margin-left: 550px;
    margin-bottom: 150px;
}

.border-sec {
    border: 0px solid rgb(240, 54, 54);
    height: 52px;
    width: 468px;
    display: flex;
    border-radius: 5px;
    margin-left: 150px;
    margin-top: 80px;

}

.mail-sec input {
    height: 50px;
    width: 300px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    padding-left: 16px;
    border-radius: 5px;

}

.sub-section input {
    height: 100%;
    width: 150px;
    font-size: 20px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    background-color: tomato;
    color: white;


}

.footer-sec {
    background-color: rgb(27, 25, 25);
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.last {
    color: orangered;
}